* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 236, 236);
}

html {
  scroll-behavior: smooth;
}

/* <-------------------- HEADER -----------------------------------> */
header.titulo {
  background-color: orange;
  width: 100%;
  border: 5px ridge black;
  height: auto;
  display: flex;
  border-radius: 10px;
}

header h1 {
  font-family: "Bungee Inline", cursive;
  background-color: orange;
  font-size: 40px;
  margin-top: 20px;
}

header img {
  size: 50px;
  width: auto;
  height: 70px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: orange;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2.darwin {
  text-align: left;
  background-color: orange;
  font-family: "Bungee Inline", cursive;
  background-color: orange;
  font-size: 40px;
  margin-top: 20px;
}

/* <----------------------------- MAIN Y VENTANA ------------------------------->  */
main {
  /* background-color: rgb(43, 41, 41) */
  width: 100%;
  height: 905px;
  background-image: url(img/seamless-monochrome-paper-origami-bird-pattern-background-vector.jpg), linear-gradient(to bottom right, orange, black);
}

section.ventana {
  padding: 10px;
  width: 100%;
  height: 90px;
  text-align: center;
  font-size: 45px;
  font-family: "Bungee Spice", cursive;
  text-decoration: none;
  background-color: black;
  border-radius: 10px;
  border-style: inset;
  border-color: orange;
}

section.ventana div a {
  width: 20%;
  border-radius: 10px;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  padding: 5px;
}

.home {
  border-radius: 10px;
  text-decoration: none;
}

section.ventana div a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.canciones {
  text-decoration: none;
}

.nosotros {
  text-decoration: none;
}

.noticias {
  text-decoration: none;
}

.contactos {
  text-decoration: none;
}

/* <------------------------------------- FOOTER ----------------------------> */
footer {
  height: auto;
  background-color: orange;
  width: 100%;
  padding: 15px;
  border: 5px solid black;
  display: flex;
  border-radius: 10px;
}

footer div {
  width: 35%;
}

footer div.avion img {
  height: 40px;
  width: auto;
  margin: 10px;
}

.frase{
  display: block;
  margin-top: 10px;
  margin-right: 90px;
}

footer h5{
width: 482px;
height: 10px;
font-family: "satisfy", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
text-decoration: dashed;
color: black;
}

footer p{
  text-align: justify;
  width: 450px;
  font-family: "satisfy", sans-serif;
  font-weight: 700;
  font-style: normal;
  height: 10px;
  text-align: end;
  margin: 15px;
  color: black;
}

.terminos {
  text-align: end;
}

footer h2 {
  font-size: medium;
  background-color: orange;
  display: block;
  font-family: "code-saver", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 4px;
  text-decoration: underline;
  font-weight: bold;
}

footer a i {
  background-color: orange;
  font-size: 25px;
  color: black;
  letter-spacing: 20px;
  display: block;
  margin-left: 16px;
  margin-top: 5px;
}

footer a i:hover {
  color: rgb(80, 179, 236);
  transform: rotate(20deg);
}

footer h2 a:hover {
  color: black;
  text-decoration: none;
}

a.subir i:hover {
  transform: none;
  transform: scale(1.3);
}

/* a.emojis{
  width: 100px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  letter-spacing: normal;
  display: flex;
  margin-left: 150px;
} */

/* <---------------------------- PAGINA PRINCIPAL ----------------------------------> */

.fondoGris{
  background-color: rgb(179, 165, 165);
  height: 770px;
  width: 100%;
  border-radius: 10px;
  border-style: groove;
  border: solid 10px orange;
  margin-top: 30px;
}

section.bienvenida{
  height: 135px;
  width: 100%;
  border-radius: 10px;
}

.bienvenida h2{
  font-family: "graduate", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  background-color: black;
  color: gray;
}

.bienvenida div{
  display: flex;
  width: 100%;
  height: 50px;
}

.avioncitos{
  display: flex;
}

.avioncitos p{
  font-size: 20px;
  padding: 20px;
}

.avioncitos img{
  margin-left: 45px;
  margin-right: 35px;
  width: 100px;
  height: 50px;
}

section.mitadPrimera {
  display: flex;
  align-items: center;
  width: 100%;
} 

section.mitadPrimera div{
  width: 33%;
}

.mitadPrimera div img{
  width: auto;
  height: 290px;
  border: 5px solid rgb(51, 49, 49);
  margin-top: 15px;
  border-radius: 5px;
}

/* .mitadPrimera div img:hover{
  transform: scale(1.1);
} */




section.ventana div.video{
  text-align: center;
  border: solid 10px orange;
  border-radius: 10px;
  height: 301px;
  width: 520px;
  border-style: groove;
  margin-top: 15px;
}

section.ventana div.video:active {
  height: 292px;
  width: 547px;
}

section.ventana div.video:hover {
  border: solid 5px black;
  height: 290px;
  width: 508px;
  transform: scale(1.3);
  border-radius: none;
  transition: 2s;
  display: inline-block;
}

section.mitadSegunda{
  display: flex;
  margin-left: 15px;
}

.mitadSegunda section, .mitadSegunda div{
  display: grid;
}

.mitadSegunda section{
  display: flex;
}

section.mitadSegunda div{
  width: 25%;
  height: 255px;
  margin: 20px;
}

.mitadSegunda section img{
  width: auto;
  height: 30px;
}


section div.cuadradosDeInfo {
  margin-top: 45px;
  border: 10px solid orange;
  font-size: small;
  width: 845px;
  height: 180px;
  border-style: groove;
  border-radius: 10px;
  margin-left: 0;
  background-color: black;
  transition: 2s;
  animation: brillo 2s linear infinite;
}



@keyframes brillo {
	0% {
	    background-color: rgb(0, 0, 0);
	    box-shadow: none;
	}
	50% {
	    background-color: #1b1b1b;
	    box-shadow: 0 0 10px #464343;
	}
	100% {
	    background-color: rgb(0, 0, 0);
	    box-shadow: none;
	}
}

div.cuadradosDeInfo{
  display: grid;
}


div.cuadradosDeInfo p{
  margin-top: 10px;
  font-size: 13px;
  font-family: "bungee", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 3px;
  color: orange;
  height: 15px;
  padding: 2px;
}

div.cuadradosDeInfo img{
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: auto;
  animation: move-image 2s ease-in-out infinite;
  margin-left: 50px;
  margin-top: 5px;
}

@keyframes move-image {
  0% {
    left: 0;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 0;
  }
}

div.cuadradosDeInfo a{
  margin-left: 160px;
  margin-right: 20px;
  width: 150px;
  font-family: "bungee", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: gray;
  height: 20px;
  margin-top: 10px;
}

div.cuadradosDeInfo a:hover{
  background-color: white;
  transition: 1s;
  height: 35px;
  width: 110px;
}

div.cuadradosDeInfo a h3{
  font-size: 15px;
  text-align: center;
  width: 90px;
}

/* div.cuadradosDeInfo h3:hover {
} */

div.cuadradosDeInfo h3:active {
  font-size: large;
}

/* <------------------------------------- CANCIONES --------------------------> */

select {
  margin-top: 50px;
  font-size: large;
  background-color: orange;
  font-family: "Bungee Inline", cursive;
  border: 5px solid black;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
}

select.grande {
  width: 600px;
  height: 100px;
  margin-top: 120px;
}

select:hover {
  text-transform: uppercase;
  border: orange;
}

div.fotosCanciones {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.fotosCanciones a img {
  margin: 50px;
  width: 350px;
  height: auto;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s ease-in-out;
  border: none;
}

div.fotosCanciones a img:hover {
  transform: scale(1.1);
  border: none;
  border-style: none;
}

.historiaCancion{
  background-color: rgb(179, 165, 165);
  margin: 10px;
  border: #1b1b1b solid 5px;
  border-radius: 20px;
}

.tCanciones{
  font-family: "bungee", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin: 10px;
  font-size: 80px;
  color: orange;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.pCanciones{
  font-family: "kumbh-sans-variable", sans-serif;
  margin: 15px;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}

.youtubeYSpotify{
  display: flex;
  margin: 10px;
}

.youtubeYSpotify div{
  width: 50%;
}

.spotify{
  display: grid;
  margin-left: 130px;
}

.youtubeYSpotify iframe {
  border: 5px solid black;
  margin-left: 50px;
  border-radius: 10px;
}

.spotify a{
  width: 500px;
  height: auto;
  background-position: center;
  background-size: cover;
  margin: 10px;
  border: solid black 5px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.spotify a:hover{
  transform: scale(1.1);
}

.spotify a:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.spo{
  background-image: url(./img/spotify.png);
}

.app{
  background-image: url(./img/applemusic.png);
}

.yt{
  background-image: url(./img/youtubemusic.png);
}

/* <-------------------------------- NOSOTROS ------------------------> */

.galeriahd {
  display: flex;
  position: relative;
}


.lacarta{
  width: 230px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  margin: 20px;
  position: relative;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.lacarta:hover{
  transform: rotateY(180deg);
}

.frontal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.trasero{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.frontal, .trasero h3{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront, .theback p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

.yo{
  background-image: url(./img/yo.jpeg);
  background-size: cover;
  background-position: center;
}

.maxi{
  background-image: url(./img/maxi.jpeg);
  background-size: cover;
  background-position: center;
}

.licha{
  background-image: url(./img/licha.jpeg);
  background-size: cover;
  background-position: center;
}

.mati{
  background-image: url(./img/mati.jpeg);
  background-size: cover;
  background-position: center;
}

.santi{
  background-image: url(./img/santi.jpeg);
  background-size: cover;
  background-position: center;
}


.texto{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.descripcion{
  text-align: center;
}

#titulohd{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(241, 235, 235);
  font-family: 'Tilt Prism', cursive;
  font-size: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  line-height: 1.5;
  display: inline-block;
  padding: 10px;
}

#parrafohd{
  font-size: small;
  font-family: 'Castoro Titling', cursive;
  margin: 20px;
  background-color: rgb(241, 235, 235);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: justify;
}

/* <---------------------------------- NOTICIAS ---------------------------------> */
section.noticias {
  width: 100%;
  height: 770px;
  border: none;
  display: flex;
}

.todasLasNoticias h3 {
  background-color: orange;
  font-size: xxx-large;
  text-align: justify;
  -webkit-text-decoration: dashed;
  text-decoration: dashed;
  width: 800px;
  height: 90px;
  margin-top: 30px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-weight: bold;
  border: 5px gold groove;
  padding: 10px;
  margin-left: 30px;
}



div.todasLasNoticias iframe.docNoticias {
  height: 650px;
  width: 800px;
  margin-top: 0;
  border: 5px gold groove;
  margin-left: 30px;
}

div.calendario {
  margin-left: 90px;
  width: 400px;
}

div.calendario h4 {
  text-align: center;
  font-family: "Silkscreen", cursive;
  margin-top: 150px;
  background-color: rgb(241, 235, 235);
  display: inline-block;
  margin-left: 150px;
}

div.calendario iframe.docCalendario {
  width: 400px;
  height: 400px;
}

/* <--------------------------------- CONTACTOS ------------------------------------>  */
.logosRedes{
  display: flex;
}

.logosRedes div{
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 95px;
}

.whatsapp{
  background-image: url(./img/whatsapp.png);
}

.insta{
  background-image: url(./img/instagram.png);
}

.tiktok{
  background-image: url(./img/tiktok.png);
}

/* <---------------------------------- @media -----------------------------------> */
@media only screen and (max-width: 1400px) {
  .terminos {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 1252px) {
  section.ventana {
    font-size: 35px;
  }
  .terminos {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 1244px) {
  section.ventana {
    font-size: 30px;
  }
  div.breveDescrip a {
    margin-left: 10px;
  }
  #pcelestia {
    font-size: large;
  }
  iframe {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 702px) {
  section.ventana {
    font-size: 25px;
  }
}
@media only screen and (max-width: 948px) {
  main {
    width: 882px;
  }
  footer {
    width: 882px;
  }
  .terminos {
    margin-left: 5px;
  }
  header.titulo {
    width: 882px;
  }
}
@media only screen and (max-width: 390px) {
  footer {
    height: 130px;
  }
  main {
    height: 1100px;
  }
  section.ventana {
    height: 170px;
    font-size: 55px;
  }
  section.mitad div.breveDescrip {
    height: 150px;
  }
}
/* # sourceMappingURL=estilos.css.map */